p{
    color: rgb(0, 0, 0);
    height: 30px;
    width: 100px;
    background-color: rgb(77, 255, 0)
    ;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    display: none;
}
button {
    background-color: rgba(119, 255, 210, 0.653);
    border: 2px solid rgba(119, 255, 210, 0.653);
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
rgb(77, 255, 0)
rgba(119, 255, 210, 0.653)
